data/precompute.json
src/__pycache__/
temp/
src/temp.py
src/mp.py
src/main.ipynb
src/temp.ipynb
src/value.py
src/stats.txt
src/test.py

src/wordle_tree.json
src/navigate_tree.py
src/main.py
src/main.py
src/KEEP.ipynb
src/main.py
